.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 2em;
}
.phonebook{
  padding: 2em
}
.phonebook .remove img{
  width:1.5em;
  height:auto;
  cursor:pointer;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:2em;
}
